@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
/* navigation*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(253, 252, 252);
    position: fi

}
img{
    width: 25%;
    height: auto;
}
nav.tête{
    margin-top: 3px;
    margin-left: 600px;
}
nav.tête a{
    text-decoration: none;
    font-size: 15px;
    color: #acacac;
    margin-right: 10px;
    padding-bottom: 5px;
}
@media screen and (max-width: 680px) {
    nav.tête{
        margin-left: 0px ;
        margin-bottom: 20px;
    }
}
/*------header-----*/
.logo-texte{
    padding: ;
    margin: 7%;
}

.logo-texte img{
    width: 5%;
    height: 5%;
    margin-left: 50%;
}  
.logo-texte h1{
    color: #00c3a5;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}
/*-----header-----*/
p {
    width: 50%;
    float: left;
    text-align: left;
}
.column{
    padding: 5%;
    max-width: 960%;
    width: 80%;
    margin: 20% auto;
    display: flex;
    flex-flow: wrap;

    justify-content: center;
    margin: 20px 0;
}
.column img{
    width: 30px;
    height: auto;
}
.patients{
    flex: 1;
    border: 1px solid rgb(8, 200, 184);
    margin: 2px;
    padding: 10px;
    background:rgb(8, 200, 184);
    transition: 0.3s;
}
.doctors{
    flex: 1;
    border: 1px solid rgb(63, 182, 230);
    margin: 2px;
    padding: 10px;
    background:rgb(63, 182, 230);
}
.clinics{
    flex: 1;
    border: 1px solid rgb(34, 8, 149);
    margin: 2px;
    padding: 10px;
    background:rgb(34, 8, 149);
}
.column h1{
    color: aliceblue;
}
.column h2{
    color: aliceblue;
    font-size: 19px;
}
.column h3{
    color: aliceblue;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center

}
.logos h1{
    float: left;
    width: 33%;
    margin: 0 2%;
    padding-right: 1em;
    color:rgb(8, 200, 184);
    font-family: 'Work Sans', sans-serif;
}
.logos img{
    width: auto;
    height: 20px;
    max-width: 100%;
    padding-left: 10px;
}
.para h1{
    text-align: center;
    color: rgb(8, 200, 184);
    margin: 100px;
    padding: 20px 20px 20px ;
    font-family: 'Work Sans', sans-serif;
}
.para p{
    margin-left: 30%;
}

